@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.container {
  width: 100vw;
  height: 100vh;
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.details {
  margin: 10px 0;
  font-size: 12px;
  color: #d0d0d0;
}
.mainDiv {
  display: flex;
  color: #ececec;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  max-width: 1280px;
}
.limitWidth {
  width: 100%;
  max-width: 650px;
  color: #d0d0d0;
  font-family: "Roboto Mono", monospace;
}
.ExperienceDiv {
  margin: 2% 0;
}
.ExperienceSubdiv {
  margin: 20px 0;
}
.ExperienceSubdiv p {
  font-family: "Roboto Mono", monospace;
}
.colored {
  color: #d8315b;
}
